/stanford-corenlp-full-2016-10-31/stanford-corenlp-3.7.0-models.jar
/matt-SEL-playground/matt-SEL-playground.VC.db
/JavaScene/input.txt
/JavaScene/output.txt
/matt-SEL-playground/x64/Debug
/matt-SEL-playground/matt-SEL-playground.VC.VC.opendb
/matt-SEL-playground/enc_temp_folder/2fd21e8a2abeb4b38c5c82acd56e671e
/matt-SEL-playground/ipch/MATT-SEL-PLAYGROUND-d4b3dd39/*.ipch
/matt-SEL-playground/SEL-output-A.txt
/matt-SEL-playground/in.txt
/matt-SEL-playground/out.txt
/matt-SEL-playground/figPPTX/base.pptx
/matt-SEL-playground/enc_temp_folder/ddde6c26c3477a4438ff7641c5cbadb
