/stanford-corenlp-full-2016-10-31/stanford-corenlp-3.7.0-models.jar
/matt-SEL-playground/matt-SEL-playground.VC.db
/JavaScene/input.txt
/JavaScene/output.txt
/matt-SEL-playground/x64/Debug
/matt-SEL-playground/matt-SEL-playground.VC.VC.opendb
